<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="mapMap" class="cn.geodata.models.wetland.actions.map.Map">
		<property name="wetlandWMS" value="http://152.61.40.52:58080/geoserver/wms?"></property>
		<property name="wetlandLayers" value="wet:catchment"></property>
	</bean>
	<bean id="mapChart" class="cn.geodata.models.wetland.actions.map.Chart">
		<property name="catchment" ref="catchment" />
	</bean>
	<bean id="geoEnvironment" class="cn.geodata.models.wetland.GeoEnvironment">
		<property name="geoserver" value="D:/mfeng/save/java/wps/service/wetland/tomcat-6.0.16" />
		<property name="wetland" value="webapps/geoserver/data/data/wetland/catchment.shp" />
	</bean>
	<bean id="chartManager" class="cn.geodata.models.wetland.actions.map.ChartManager">
		<property name="dataPath" value="/wetland.data/" />
	</bean>
	<bean id="chartImage2" class="cn.geodata.models.wetland.actions.map.ChartImage2">
		<property name="manager" ref="chartManager"></property>
		<property name="width" value="980"></property>
		<property name="height" value="400"></property>
		<property name="errorImagePath" value="/wetland.data/images/nodata.png"></property>
	</bean>
	<bean id="etModel" class="cn.geodata.models.wetland.ETModel">
		<property name="albedo" value="0.08"></property>
		<property name="height" value="557.7"></property>
		<property name="windSpeed" value="1"></property>
		<property name="coefficient" value="1.2"></property>
	</bean>
	<bean id="waterTableModel" class="cn.geodata.models.wetland.WaterTableModel">
		<property name="catchmentArea" value="3"></property>
		<property name="saturationPrcp" value="0.003"></property>
		<property name="etModel" ref="etModel"></property>
		<property name="spillPoint" value="3"></property>
	</bean>
	<bean id="chartWaterTable" class="cn.geodata.models.wetland.actions.map.ChartWaterTable">
		<property name="waterTableModel" ref="waterTableModel"></property>
		<property name="dayMetReader" ref="dayMetReader"></property>
		<property name="width" value="980"></property>
		<property name="height" value="300"></property>
		<property name="tempDir" value="D:\temp"></property>
	</bean>
	<bean id="imageStream" class="cn.geodata.models.wetland.actions.map.ImageStream">
		<property name="tempDir" value="D:\temp"></property>
	</bean>
	<bean id="catchment" class="cn.geodata.models.wetland.Catchment">
		<property name="envi" ref="geoEnvironment" />
		<property name="fieldName" value="NAME"></property>
	</bean>
	<bean id="searchWetland" class="cn.geodata.models.wetland.actions.map.SearchWetland">
		<property name="catchment" ref="catchment" />
	</bean>
	<bean id="dayMetReader" class="cn.geodata.models.wetland.DayMetReader">
		<property name="url" value="http://www.daymet.org/getRawData.do?lon=%f&amp;lat=%f"></property>
	</bean>
	<bean id="waterRegion" class="cn.geodata.models.wetland.actions.map.WaterRegion">
		<property name="modelURL" value="http://152.61.40.52:8080/web/wps"></property>
	</bean>
</beans>
