@CHARSET "UTF-8";

#map {
	width: 700px;
	height: 430px;
	border: 1px solid #AAAAAA;
	cursor: crosshair;
}

div.resultItem {
	line-height: 18px;
	vertical-align: bottom;
}

#processTip {
	margin-left: 5px;
	top: 500px;
	line-height: 30px;
	visibility: visible;
	background: transparent;
	position: absolute;
	z-index: 100000;
	color: #FF9900;
	font-family: Verdana;
}

div.itemArea {
	border: 0px solid #AAAAAA;
	margin: 3px;
	padding: 2px;
}

div.itemBar {
	
}

div.itemName {
	font-weight: bolder;
	display: inline;
}

div.itemValue {
	display: inline;
}