@CHARSET "UTF-8";

body {
	font-family: Verdana,Times New Roman;
	font-size: 15px;
	padding: 0px;
	margin: auto 0px auto 0px;
}

div.bodywrap {
	background-color: #FFFFFF;
	width: 980px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 0px;
}

#mainPanel {
	background-color: #FFFFFF;
}

#leftPanel {
	background-color: #EEEEEE;
	width: 700px;
	height:400px;
}

#rightPanel {
	background-color: #FFFFFF;
	width: 278px;
	height:400px;
	vertical-align: top;
}

div.textBlock {
	text-align: left;
	padding: 2px;
	margin: 5px;
	border: 1px solid #EEEEEE;
}

div.blockTitle {
	font-weight: bold;
}

div.blockBody {
}

div.viewItem{
	padding: 2px;
	margin: 2px;
}

div.viewTitle{
	float: left; 
	width: 80px; 
	margin: 1px;
	padding: 1px;
	text-align: right;
}

td.cellTitle {
	font-weight: bold;;
	background-color: #EEEEEE;
	border: 1px solid #888888;
	line-height: 20px;
}

td.cellBody {
	border: 1px solid #888888;
	line-height: 20px;
}

div.resultPanel {
	border: 1px solid #AAAAFF;
	margin: 1px;
	background-color: #F0F0FF
}

.closeImg {
	cursor: pointer;
}

.titlePanel{
	background-color: #BBBBCC;
	padding: 1px;
}

.titleText{
	float: left;
	font-size: 11px;
	color: #111155;
}

.textPanel {
	padding: 5px 2px 2px 2px;
	font-size: 13px;
	color: #111111;
}
