<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="dayMetReader" class="cn.geodata.models.wetland.actions.map.DayMetReader">
		<property name="url" value="http://www.daymet.org/getRawData.do?lon=%f&amp;lat=%f"></property>
		<property name="cache" value="D:\temp"></property>
	</bean>
	<bean id="mapMap" class="cn.geodata.models.wetland.actions.map.Map">
		<property name="wetlandWMS" value="/geoserver/wms?"></property>
		<property name="wetlandLayers" value="wet:catchment"></property>
	</bean>
	<bean id="imageStream" class="cn.geodata.models.wetland.actions.map.ImageStream">
		<property name="tempDir" value="D:\temp"></property>
	</bean>
	<bean id="chartWaterTable" class="cn.geodata.models.wetland.actions.map.ChartWaterTable">
		<property name="dayMetReader" ref="dayMetReader"></property>
		<property name="width" value="980"></property>
		<property name="height" value="300"></property>
		<property name="tempDir" value="D:\temp"></property>
	</bean>
	<bean id="searchWetland" class="cn.geodata.models.wetland.actions.map.SearchWetland">
	</bean>
	<bean id="waterRegion" class="cn.geodata.models.wetland.actions.map.WaterRegion">
	</bean>
</beans>
