<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="wpsGetCapabilities" class="cn.geodata.models.web.wps.actions.GetCapabilities"></bean>
	<bean id="wpsDescribeProcess" class="cn.geodata.models.web.wps.actions.DescribeProcess"></bean>
	<bean id="wpsExecute" class="cn.geodata.models.web.wps.actions.Execute"></bean>
	<bean id="wpsService" class="cn.geodata.models.web.wps.actions.Service"></bean>
</beans>
