@CHARSET "UTF-8";

.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}
.saveCls {
	background-image: url(../img/landcover/save.gif) !important;
}
.loadCls {
	background-image: url(../img/landcover/load.gif) !important;
}
.newCls {
	background-image: url(../img/landcover/new.gif) !important;
}
.downloadCls {
	background-image: url(../img/landcover/download.gif) !important;
}
.selectCls {
	background-image: url(../img/landcover/select.png) !important;
}
.selectCls_s {
	background-image: url(../img/landcover/select.png) !important;
	border: 1px solid #990022 !important;
}
.magicCls{
	background-image: url(../img/landcover/magic.gif) !important;
}
.magicCls_s{
	background-image: url(../img/landcover/magic.gif) !important;
	border: 1px solid #990022 !important;
}
.clearCls {
	background-image: url(../img/landcover/clear.gif) !important;
}
.forestCls {
	background-image: url(../img/landcover/tree.jpg) !important;
}
.grassCls {
	background-image: url(../img/landcover/grass.jpg) !important;
}
.waterCls{
	background-image: url(../img/landcover/water.gif) !important;
}
.developedCls {
	background-image: url(../img/landcover/developed.jpg) !important;
}
.wetlandCls {
	background-image: url(../img/landcover/wetland.jpg) !important;
}
.cropCls {
	background-image: url(../img/landcover/crop.jpg) !important;
}
.olLayerGoogleCopyright, .olLayerGooglePoweredBy{
	display: none;	
