@CHARSET "UTF-8";

.olControlDataViewToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlDataViewToolbar div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlDataViewToolbar .olControlNavigationItemActive { 
  background-image: url("img/pan_on.png");
  background-repeat: no-repeat;
}
.olControlDataViewToolbar .olControlNavigationItemInactive { 
  background-image: url("img/pan_off.png");
  background-repeat: no-repeat;
}
.olControlDataViewToolbar .olControlSearchFeatureItemActive { 
  background-image: url("img/select_point_on.png");
  background-repeat: no-repeat;
}
.olControlDataViewToolbar .olControlSearchFeatureItemInactive { 
  background-image: url("img/select_point_off.png");
  background-repeat: no-repeat;
}
