<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="searchSwampCities"
		class="cn.geodata.models.earth.actions.SwampCities">
	</bean>
	<bean id="cityDetail"
		class="cn.geodata.models.earth.actions.CityDetail">
	</bean>
	<bean id="listModel"
		class="cn.geodata.models.earth.actions.ListModel"></bean>
</beans>
